<table border = "1">
<tr>
<th>ISBN</th>
<th>書名</th>
<th>価格</th>
<th>出版社</th>
<th>発刊日</th>
</tr>

[% FOREACH item = list %]
<tr>
<td>[% item.isbn | html %]</td>
<td>[% item.title | html %]</td>
<td>[% item.price | html %]円</td>
<td>[% item.publish | html %]</td>
<td>[% item.published | html %]</td>
</tr>

[% END %]

</table>