<dl>
[%- FOREACH item = list -%]
<dt>[% item.title | html %]([% item.publish | html %])</dt>


	[% IF item.book_review.size > 0 %]

	[%- FOREACH coment = item.book_review -%]

<dd>[% item.book_review.0.body | html %]</dd>
<dd>[% item.book_review.0.uid | html %]</dd>
<dd>[% item.book_review.0.updated | html %]</dd>

	[%- END -%]

[%- END -%]
</dl>
